<div class="card">
	<div class="card-header">
		<div class="card-title">
			<h3>{{title}}<span class="badge badge-pill badge-dark">{{priority}}</span></h3>
		</div>
	</div>
	<div class="card-body">{{description}}</div>
	<div class="card-footer">{{date}}</div>
</div>
<a href="/todo/{{id}}/edit" class="btn btn-default btn-warning">
	Edit todo
</a>
<form action="/todo/{{id}}?_method-DELETE" method="post">

</form>
<a href="/todo/{{id}}/edit" class="btn btn-default btn-danger">
	Delete todo
</a>